
.service-card {
  padding: 40px 20px;
  border: 1px solid black;
  margin: 0 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #d6d6d6;
  transition: all 0.3s;
}


.service-card:hover {
  background-image: linear-gradient(to top right, #FF0000, #FF7878);
  color: white;
  border: none;
  cursor: pointer;
}