
.portfolio-btn-git, .portfolio-btn-live {
  padding: 5px 10px;
  border: 1px solid black;
  margin: 0 5px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #d6ddd8;
  transition: all 0.4s;
}

.portfolio-btn-git:hover, .portfolio-btn-live:hover {
  background-image: linear-gradient(to top right, #e339f8, #6093c2);
  color: white;
  border: none;
}